[Unit]
Description=ELLA-PI Bare Metal Service (v10.0)
After=network.target

[Service]
Type=simple
User={{USER}}
WorkingDirectory={{INSTALL_DIR}}
ExecStart={{INSTALL_DIR}}/ella-start
ExecStop={{INSTALL_DIR}}/ella --stop
RemainAfterExit=yes
Restart=on-failure

[Install]
WantedBy=multi-user.target
